{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kent State Connect</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    <style>
        .box{
            border: 4px solid black;
            margin: 0 auto;
        }
    </style>
</head>

<body style="background-color: rgb(231, 231, 231);">
       <h2 class="top-bar">
            <p style ="text-align: left;">  
            <a href="http://localhost:5555/home"><button class="main_page_links">Home</button></a>  
            <a href="http://localhost:5555/about"><button class="main_page_links">About</button></a>  
            <a href="http://localhost:5555/contact"><button class="main_page_links">Contact</button></a>  
            <a href="http://localhost:5555/resources"><button class="main_page_links">Resources</button></a>
            <a href="http://localhost:8000"><button class="main_page_links">Directory</button></a> </p>    </h2>

            <div style="padding-left:27vw;">
            <form method="POST" action="{% url 'addInForum' %}">
                {% csrf_token %}
            <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Create a Post</button>
            </form></div>
            
            {%for forum in forums %}

                <div class="card box container" style="padding: 10px;">
                    <form method="POST" action="http://localhost:8000/deleteforum/{{forum.id}}" >{% csrf_token %}<p align="right"><button class="btn btn-success" style="width:fit-content;">Delete</button></p></form>

                    <h5>
                        <h1>{{forum.topic}}</h1>
                        <div class="card-body container">
                            <p> By: {{forum.name}}</p>{{forum.date_created}}<hr>
                            <p>{{forum.description}}</p>
                            <br>
                            <br>
                            <form method="GET" action="{% url 'addInDiscussion' %}">
                                {% csrf_token %}
                                <p align="right"><button class="btn btn-success" style="width:fit-content;">Reply</button></p>
                            </form>
                            <hr>     
                            <h4>Replies</h4>
                            {%for discuss in discussions%}
                            {%for objs in discuss%}  
                            {% if objs.forum == forum %}
                            <form method="POST" action="http://localhost:8000/deletereply/{{objs.id}}" >{% csrf_token %} <p align="right"><button class="btn btn-success" style="width:fit-content; font-size:10px;">Delete</button></p></form>
                               <b>{{objs.name}}</b>: {{objs.id}}<br>
                               {{objs.discuss}}
                               <br><br><br>
                            {% endif %}
                            {%endfor%}
                            {%endfor%}

                        </div>
                </div>
            </div>
            <br>
            
            {%endfor%}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - Kent State Connect</p> <img src="https://i.imgur.com/tXtoBzH.png" alt="KSU" width=179 height=52>
        </footer>
    </div>
</body>
</html>
<style>
    .top-bar{
        color: white;
        background: black;
        padding: 1px;
    }
    
    .main_page_links{
        font-size: 16px;
        color: rgb(150, 150, 150);
        background: transparent;
        padding: transparent;
        border: transparent;
    }

</style>
