{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kent State Connect</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    <style>
        .box{
            border: 4px solid black;
            margin: 0 auto;
        }
    </style>
</head>

<body style="background-color: rgb(231, 231, 231);">
    <h2 class="top-bar">
         <p style ="text-align: left;">  
         <a href="http://localhost:5555/home"><button class="main_page_links">Home</button></a>  
         <a href="http://localhost:5555/about"><button class="main_page_links">About</button></a>  
         <a href="http://localhost:5555/contact"><button class="main_page_links">Contact</button></a>  
         <a href="http://localhost:5555/resources"><button class="main_page_links">Resources</button></a>
         </p>    
    </h2>
    <p align=center><img src="https://i.imgur.com/3OITb2m.jpg" class="img-fluid" alt="KSU"></p>
    <div class="col-md-8 offset-md-2">
        <h2>Forum Rules</h2>
        <p>1. There will be no harassment under any circumstances. We want to keep this forum a welcoming place that won't discriminate against others on the basis of race, gender, sexual orientation, age, ability, religion, or political view.</p>
        <p>2. Consider the privacy of others and yourself. Ask permission prior to giving out personal information of others and be careful with your own.</p>
        <p>3. No inappropriate material. This will be judged in a case by case basis, but offensive comments, content, pictures, and any other form of media is not tolerated. Any media containing overtly sexual, gory, illegal, or otherwise NSFW content will be removed.</p>
        <p>4. Do not share a link or file that could contain and/or spread malicious software. Any link or file that is suspected of being malicious will be removed.</p>
        <p>5. Do not distribute or advertise any links or files that contain a copyrighted material, including but not limited to school textbooks and software.</p>
        <p>6. Do not copy and/or use any work found on the Discord and claim it as your own. The moderators and tutors have an obligation to report any found plagiarism to the respective teacher(s). If helping a student with a problem, be wary of showing your own code snippets, whether in public or through DMs. This also applies to homework and test material that has not yet been submitted.</p>
        <p><strong>NOTE:</strong> Admins reserve the right to remove posts and replies that break the forum rules.</p>
    </div>
    <div class="card-body container" style="padding: 30px; background: white;">
        <div class="card-body container">
        <a href="http://localhost:8000/GeneralDiscussions/"><h1>General Discussions</h1></a> 
        <p align="right>">Total Discussions: {{generalcount}}</p>
        This is a place where you can discuss various things happening at Kent State.
        <br>
        <hr>
        <a href="http://localhost:8000/ClassDiscussions/"><h1>Class Discussions</h1></a>
        This is a place where you can discuss classes you're taking.
        <br>
        <hr>
        <a href="http://localhost:8000/CodingHelp/"><h1>Coding Help</h1></a>
        <p align="right>">Total Discussions: {{codingcount}}</p>
        This is a place where you can ask for help for coding in various languages.
        <br>
        <hr>
        <a href="http://localhost:8000/TutoringDiscussions/"><h1>Tutoring Discussions</h1></a>
        <p align="right>">Total Discussions: {{tutoringcount}}</p>
        This is a place where you can discuss things related to tutoring.
        <br>
        <hr>
        <a href="http://localhost:8000/Internships/"><h1>Internship Discussions</h1></a>
        <p align="right>">Total Discussions: {{interncount}}</p>
        This is a place where you can discuss things related to internships.
        <br>
        <hr>
        <a href="http://localhost:8000/Careers/"><h1>Career Discussions</h1></a>
        This is a place where you can discuss things related to careers.
        <br>
        <hr>
        <a href="http://localhost:8000/Roommate/"><h1>Find a Roommate</h1></a>
        <p align="right>">Total Discussions: {{roomcount}}</p>
        Need someone to share rent with? Find a roommate here!
        <br>
        <hr>
    </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - Kent State Connect</p> <img src="https://i.imgur.com/tXtoBzH.png" alt="KSU" width=179 height=52>
        </footer>
    </div>
    <br>
</body>


<style>
    .top-bar{
        color: white;
        background: black;
        padding: 1px;
    }
    
    .main_page_links{
        font-size: 16px;
        color: rgb(150, 150, 150);
        background: transparent;
        padding: transparent;
        border: transparent;
    }

    .Forum-Links{
        background: rgb(255, 255, 255);
    }
</style>