{% extends "layout.html" %}

{% block content %}
<html> 
    <head> 
        <meta charset="UTF-8"> 
        <title> Register </title> 
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">               
    </head> 
    <body></br></br></br></br></br> 
        <div align="left"> 
          <div align="left" class="border"> 
             <div class="header"> 
                <h1 class="word">Register</h1> 
             </div></br></br></br> 
            <h2 class="word"> 
                <form action="{{ url_for('register') }}" method="post"> 
                  <div class="msg">{{ msg }}</div> 
                    Username:　<input id="username" name="username" type="text" class="textbox"/></br></br> 
                    Password:　 <input id="password" name="password" type="password"  class="textbox"/></br></br> 
                    E-mail: 　 　<input id="email" name="email" type="text" class="textbox"/></br></br> 
                    <input type="submit" class="btn" value="Sign Up"></br> 
                </form> 
            </h2> 
            <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p> 
          </div> 
        </div> 
    </body> 
</html> 
{% endblock %}