{% extends "layout.html" %}

{% block content %}

<div class=jumbotron>

<h2>{{ title }}</h2>
<h3>Discord</h3>
<p>The following link will take you to the KSU CS Discord:</p>
<p><a href="https://discord.gg/7D6ecVBhBR" class="btn btn-primary btn-large">To the Discord &raquo;</a></p>

<h3>Contact Kent State</h3>
<p>Need help with something?</p>
<p><a href="https://www.kent.edu/it/techhelp" class="btn btn-warning btn-large">TechHelp &raquo;</a></p>
<p><a href="https://map.concept3d.com/?id=568#!ct/5500" class="btn btn-warning btn-large">Campus Map &raquo;</a></p>
<p>Need to talk to contact somebody in the Computer Science department?</p>
<p><a href="https://www.kent.edu/cs/faculty-staff-directory" class="btn btn-primary btn-large">CS Faculty and Staff Directory &raquo;</a></p>
<p><a href="https://advising.kent.edu/" class="btn btn-primary btn-large">Schedule an Advising Appointment &raquo;</a></p>
<p><a href="https://www.kent.edu/cs/faculty-office-hours" class="btn btn-primary btn-large">CS Faculty Office Hours &raquo;</a></p>

<h3>Get Involved</h3>
<p>Learn how to code with Hacksu:</p>
<p><a href="https://hacksu.cs.kent.edu/" class="btn btn-warning btn-large">Hacksu &raquo;</a></p>
</div>

{% endblock %}